.title {
    height: auto;
    margin: 20vh 24vw 0;
    padding-top: 4vh;
    color: lightslategray;
    font-size: 30px;
    padding-bottom: 2vw;
}

.block {
    height: 100%;
    display: block;
    align-items: center;
    margin: 20vh 10vw 20vh;
    border-radius: 20px;
    background-color: rgba(253, 232, 205, 0.8);
    color: lightslategray;
}

.about_box_title {
    padding: 2vw;
    font-size: 25px;
    text-align: center;
}

.about_box_text {
    font-size: 20px;
    text-align: justify;
    margin-right: 5px;
}

@media screen and (min-width: 1281px) {

    .about_why_imagine {
        width: 22vw;
        height: 30vh;
        padding: 4vw;
        border-radius: 10vw;
    }

    .about_box {
        display: flex;
        justify-content: space-between;
        padding-left: 2vw;
        padding-bottom: 2vw;
    }

    .about_who_imagine {
        width: 14vw;
        height: 14vw;
        padding: 2vw;
        border-radius: 10vw;
    }

}

@media screen and (min-width: 768px) and  (max-width: 1280px) {

    .about_why_imagine {
        width: 22vw;
        height: 20vh;
        padding: 4vw;
        border-radius: 10vw;
    }

    .about_box {
        display: flex;
        justify-content: space-between;
        padding-left: 2vw;
        padding-bottom: 2vw;
    }

    .about_who_imagine {
        width: 14vw;
        height: 14vw;
        padding: 2vw;
        border-radius: 10vw;
    }

}

@media screen and (max-width: 767px) {

    .about_why_imagine {
        width: 200px;
        height: 200px;
        padding: 4vw;
        border-radius: 10vw;
    }

    .about_box {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-left: 2vw;
        padding-bottom: 2vw;
    }

    .profile_image {
        display: flex;
        flex-direction: column;
    }

    .about_who_imagine {
        width: 200px;
        height: 200px;
        padding: 2vw;
        border-radius: 10vw;
    }

}

.profile_image {
    display: flex;
    justify-content: space-between;
}

.founder_name {
    font-size: 20px;
}



