.title {
  height: auto;
  margin: 20vh 24vw 0;
  padding-top: 4vh;
  color: lightslategray;
  font-size: 2vw;
  padding-bottom: 2vw;
}

.block {
  height: 100%;
  display: block;
  align-items: center;
  margin: 10vh 10vw 20vh;
  border-radius: 20px;
  background-color: rgba(253, 232, 205, 0.8);
  color: lightslategray;
}

.about_box {
  display: flex;
  justify-content: space-between;
  padding-left: 2vw;
  padding-bottom: 2vw;
}

.about_box_title {
  padding: 2vw;
  font-size: 2vw;
  text-align: center;
}

.about_box_text {
  font-size: 1vw;
  text-align: left;
}

.about_why_imagine_imagine {
  width: 22vw;
  height: 28vh;
  padding: 4vw;
  border-radius: 10vw;
}

.about_who_imagine {
  border-radius: 10vw;
}

.profile_image {
  display: flex;
  justify-content: space-between;
}

.foundername {
  font-size: 1.7vw;
}

.founder_name {
  font-size: 1.7vw;
}

.about_who_imagine_imagine {
  width: 14vw;
  height: 14vw;
  padding: 2vw;
  border-radius: 10vw;
}
