.title {
  height: auto;
  margin: 20vh 24vw;
  margin-bottom: 0vh;
  padding-top: 4vh;
  color: lightslategray;
  font-size: 2vw;
  font-size: 40px;
  padding-bottom: 2vw;
}

.block {
  height: 100%;
  display: block;
  align-items: center;
  margin: 20vh 10vw;
  margin-top: 10vh;
  border-radius: 20px;
  background-color: rgba(253, 232, 205, 0.8);
  color: lightslategray;
}

.about_boxs {
  display: flex;
  justify-content: space-between;
  padding-left: 2vw;
  padding-bottom: 2vw;
}

.about_boxs_title {
  padding: 2vw;
  font-size: 2vw;
  text-align: center;
}

.about_boxs_text {
  font-size: 1vw;
  text-align: left;
}

.about_why_imagine_imagine {
  width: 22vw;
  height: 28vh;
  padding: 4vw;
  border-radius: 10vw;
}

.about_who_imagine {
  border-radius: 10vw;
}

.profileimage {
  display: flex;
  justify-content: space-between;
}

.about_who_imagine_imagine {
  width: 14vw;
  height: 14vw;
  padding: 2vw;
  border-radius: 10vw;
}
