footer {
  width: 100%;
  height: 30vh;
  text-align: start;
  font-size: 18px;
  background-color: #fde8cd;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  justify-items: center;
  align-items: center;
  position: relative;
  color: #1b1b1b;
}

#item {
  grid-column: 2;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.footer__logo {
  width: 30vh;
  height: 20vh;
  margin: 1vh;
}
