.block {
  min-height: 60vh;
  margin: 20vh 10vw;
}

#title {
  padding: 10px;
  font-size: 40px;
}

#text{
  background-color: rgba(253, 232, 205, 0.7);
  color: lightslategray;
  border-radius: 15px;
}