<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/generic.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/account.css">
    <link rel="stylesheet" href="styles/footer.css">
</head>

<body>
<div class="wrapper">
    <header id="to_show">
        <a href="/">
            <img class="logo" src="images/Logo.png" alt="Logo">
        </a>
        <div class="menu">
            <a class="no-link-style" id="admin" href="admin.html">
                <div class="menu__admin">Admin</div>
            </a>
            <a class="no-link-style" href="about.html">
                <div class="menu__about">About</div>
            </a>
            <a class="no-link-style" href="report.html">
                <div class="menu__report">Report</div>
            </a>
            <a class="no-link-style" href="see_reports.html">
                <div class="menu__see_reports">See Reports</div>
            </a>
            <a class="no-link-style" href="statistics.html">
                <div class="menu__statistics">Statistics</div>
            </a>
            <a class="no-link-style" href="contact.html">
                <div class="menu__contact">Contact</div>
            </a>
            <a class="no-link-style" href="help.html">
                <div class="menu__help">Help</div>
            </a>
            <a class="no-link-style" href="../../public/rss.xml">
                <img class="feed" src="images/RSS_Icon.svg" alt="Feed">
            </a>
            <div class="menu__log_in--button half_button" id="profile">
                <a class="left_half no-link-style" href="log_in.html">Log In</a>/
                <a class="right_half no-link-style" href="sign_up.html">Sign Up</a>
            </div>
        </div>
        <div class="no-link-style menu_toggle" id="menu_visible">
            <div id="menu_toggle__line1"></div>
            <div id="menu_toggle__line2"></div>
            <div id="menu_toggle__line3"></div>
        </div>
    </header>
    <div class="menu__to_show" id="menu__to_show">
        <div class="menu__log_in--button half_button" id="profile_for_menu">
            <a class="left_half no-link-style" href="log_in.html">Log In</a>/
            <a class="right_half no-link-style" href="sign_up.html">Sign Up</a>
        </div>
        <a class="no-link-style" href="../../public/rss.xml">
            <img class="feed" src="images/RSS_Icon.svg" alt="Feed">
        </a>
        <a class="no-link-style" id="admin1" href="admin.html">
            <div class="menu__admin">Admin</div>
        </a>
        <a class="no-link-style" href="about.html">
            <div class="menu__about">About</div>
        </a>
        <a class="no-link-style" href="report.html">
            <div class="menu__report">Report</div>
        </a>
        <a class="no-link-style" href="see_reports.html">
            <div class="menu__see_reports">See Reports</div>
        </a>
        <a class="no-link-style" href="statistics.html">
            <div class="menu__statistics">Statistics</div>
        </a>
        <a class="no-link-style" href="contact.html">
            <div class="menu__contact">Contact</div>
        </a>
        <a class="no-link-style" href="help.html">
            <div class="menu__help">Help</div>
        </a>
    </div>
    <div class="menu__to_show" id="profile_menu_to_show">
        <div class="menu__log_in--button half_button" id="profile_for_menu_to_show">
            <a class="left_half no-link-style" href="log_in.html">Log In</a>/
            <a class="right_half no-link-style" href="sign_up.html">Sign Up</a>
        </div>
        <a class="no-link-style">
            <div class="menu__admin" id="account_menu">Account</div>
        </a>
        <a class="no-link-style" id="logout_menu">
            <div class="menu__report">Log Out</div>
        </a>
    </div>
</div>
<main>
    <div class="profile_menu" id="closable">
        <div class="profile_menu--options no-link-style" id="account">Account</div>
        <div class="profile_menu--options no-link-style" id="logout">Log Out</div>
    </div>

    <div class="block">
        <div class="title_post_request">
            <b>Account Information</b>
        </div>
        <div class="approve_post">
            <table id="accountInfo">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Username</th>
                </tr>
            </table>
        </div>
        <div class="title_post_request">
            <b>My reports</b>
        </div>
        <div class="approve_post">
            <table id="reportsApproved">
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>City</th>
                    <th>Street</th>
                    <th>Option</th>
                </tr>
            </table>
        </div>
        <div class="title_post_request">
            <b>Settings</b>
        </div>
        <br>
        <label type="button" class="change" id="buttonChangeFirstName">Change First Name</label>
        <label type="button" class="change" id="buttonChangeLastName">Change Last Name</label>
        <label type="button" class="change" id="buttonChangeEmail">Change Email</label>
        <label type="button" class="change" id="buttonChangeUsername">Change Username</label>
        <label type="button" class="change" id="buttonChangePassword">Change Password</label>
        <label type="button" class="delete" id="buttonDeleteAccount">DeleteAccount</label>
    </div>

</main>
<footer id="myFooter">
    <a href="/">
        <img class="footer__logo" src="images/Logo.png" alt="Logo">
    </a>
    <div class="footer__content">
        <div>Contact Us</div>
        <a class="no-link-style" href="mailto:feralpresenceadvise@gmail.com">
            feralpresenceadvise@gmail.com
        </a>
        <a class="no-link-style" href="tel:+40747816344">
            Tel: +40 747 816 344
        </a>
    </div>
    <div class="footer__content">
        <a class="no-link-style" href="about.html">About</a>
        <a class="no-link-style" href="report.html">Report</a>
        <a class="no-link-style" href="see_reports.html">See reports</a>
        <a class="no-link-style" href="statistics.html">Statistics</a>
        <a class="no-link-style" href="contact.html">Contact</a>
        <a class="no-link-style" href="help.html">Help</a>
    </div>
    <div id="footer_item">© Copyright 2024, FePA</div>
</footer>

<script type="text/javascript" src="scripts/see_account_info.js"></script>
<script type="text/javascript" src="scripts/see_my_reports.js"></script>
<script type="text/javascript" src="scripts/account_settings.js"></script>
<script src="scripts/connected_user.js"></script>
<script src="scripts/menu_button.js"></script>
</body>

</html>