<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="styles/generic.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/help.css">
    <link rel="stylesheet" href="styles/footer.css">
</head>

<body>
    <div class="wrapper">
        <header id="to_show">
            <a href="/">
                <img class="logo" src="images/Logo.png" alt="Logo">
            </a>
            <div class="menu">
                <a class="no-link-style" id="admin" href="admin.html">
                    <div class="menu__admin">Admin</div>
                </a>
                <a class="no-link-style" href="about.html">
                    <div class="menu__about">About</div>
                </a>
                <a class="no-link-style" href="report.html">
                    <div class="menu__report">Report</div>
                </a>
                <a class="no-link-style" href="see_reports.html">
                    <div class="menu__see_reports">See Reports</div>
                </a>
                <a class="no-link-style" href="statistics.html">
                    <div class="menu__statistics">Statistics</div>
                </a>
                <a class="no-link-style" href="contact.html">
                    <div class="menu__contact">Contact</div>
                </a>
                <a class="no-link-style" href="help.html">
                    <div class="menu__help">Help</div>
                </a>
                <a class="no-link-style" href="../../public/rss.xml">
                    <img class="feed" src="images/RSS_Icon.svg" alt="Feed">
                </a>
                <div class="menu__log_in--button half_button" id="profile">
                    <a class="left_half no-link-style" href="log_in.html">Log In</a>/
                    <a class="right_half no-link-style" href="sign_up.html">Sign Up</a>
                </div>
            </div>
            <div class="no-link-style menu_toggle" id="menu_visible">
                <div id="menu_toggle__line1"></div>
                <div id="menu_toggle__line2"></div>
                <div id="menu_toggle__line3"></div>
            </div>
        </header>
        <div class="menu__to_show" id="menu__to_show">
            <div class="menu__log_in--button half_button" id="profile_for_menu">
                <a class="left_half no-link-style" href="log_in.html">Log In</a>/
                <a class="right_half no-link-style" href="sign_up.html">Sign Up</a>
            </div>
            <a class="no-link-style" href="../../public/rss.xml">
                <img class="feed" src="images/RSS_Icon.svg" alt="Feed">
            </a>
            <a class="no-link-style" id="admin1" href="admin.html">
                <div class="menu__admin">Admin</div>
            </a>
            <a class="no-link-style" href="about.html">
                <div class="menu__about">About</div>
            </a>
            <a class="no-link-style" href="report.html">
                <div class="menu__report">Report</div>
            </a>
            <a class="no-link-style" href="see_reports.html">
                <div class="menu__see_reports">See Reports</div>
            </a>
            <a class="no-link-style" href="statistics.html">
                <div class="menu__statistics">Statistics</div>
            </a>
            <a class="no-link-style" href="contact.html">
                <div class="menu__contact">Contact</div>
            </a>
            <a class="no-link-style" href="help.html">
                <div class="menu__help">Help</div>
            </a>
        </div>
        <div class="menu__to_show" id="profile_menu_to_show">
            <div class="menu__log_in--button half_button" id="profile_for_menu_to_show">
                <a class="left_half no-link-style" href="log_in.html">Log In</a>/
                <a class="right_half no-link-style" href="sign_up.html">Sign Up</a>
            </div>
            <a class="no-link-style">
                <div class="menu__admin" id="account_menu">Account</div>
            </a>
            <a class="no-link-style" id="logout_menu">
                <div class="menu__report">Log Out</div>
            </a>
        </div>
    </div>
    <main>
        <div class="block">
            <div class="title">
                <b>How can we help you?</b>
            </div>
            <div class="question">
                <div class="help-text">
                    <div class="help-text-title">Report Page</div><br>
                    <div class="help-text-text">
                        &emsp;This page contains two components:<br>
                        1.The form that needs to be filled out entirely in order to create the post <br>
                        2.The map that helps you better visualize the places where other animals have been reported
                        <br><br>

                        &emsp;To create a report post, you need to follow these steps:<br>
                        1. You must have an account on this website.<br>
                        2. You need to fill in all fields, as they are all mandatory.<br>
                        &emsp;After completing these requirements, the post should be successfully submitted.<br>
                    </div>
                </div>
                <div class="help-image">
                    <img class="help-image-image" src='images/report_page.png' alt="image">
                </div>
            </div>
            <div class="question">
                <div class="help-text">
                    <div class="help-text-title">See reports Page</div><br>
                    <div class="help-text-text">
                        &emsp; On the 'see reports' page, you will find all the animals for which reporting requests
                        have
                        been completed. This list operates with a right scroll, allowing you to navigate through
                        multiple reports. <br>
                        &emsp; If you click on an animal post, you will be able to see the reporting description to view
                        the exact details about that animal.
                    </div>
                </div>
                <div class="help-image">
                    <img class="help-image-image" src='images/see_reports_page.png' alt="image">
                </div>
            </div>
            <div class="question">
                <div class="help-text">
                    <div class="help-text-title">Statistics Page</div><br>
                    <div class="help-text-text">
                        &emsp; On the statistics page, we have 3 important statistics:<br>
                        1. Areas - the areas where the most reports have been made<br>
                        2. Dangerous - the danger posed by the most animals<br>
                        3. Types - the most reported type of animal<br><br>
                        &emsp;All of these help us and you to learn more about the areas with the most reported animals
                        and how dangerous they are.
                    </div>
                </div>
                <div class="help-image">
                    <img class="help-image-image" src='images/statistics_page.png' alt="image">
                </div>
            </div>
            <div class="question">
                <div class="help-text">
                    <div class="help-text-title">Contact Page</div><br>
                    <div class="help-text-text">
                        &emsp; On the contact page, there is a form where if you fill it out with the requested
                        information,
                        you will be able to email us regarding an issue you encountered on this website and
                        couldn't resolve.<br>
                        &emsp;Also on this page, you will find the location of our headquarters, so you can even come to
                        discuss certain serious issues related to this application.
                    </div>
                </div>
                <div class="help-image">
                    <img class="help-image-image" src='images/contact_page.png' alt="image">
                </div>
            </div>
            <div class="question">
                <div class="help-text">
                    <div class="help-text-title">Log-in Page</div><br>
                    <div class="help-text-text">
                        &emsp;"On the login page, you can log into your account or go to the sign-up page to create an
                        account by clicking on the text 'Sign up' below the login button.<br>
                        &emsp;If you have forgotten your password, you will be redirected to a page where you will need
                        to
                        enter the email associated with your account, and you will receive a password reset code via
                        email."
                    </div>
                </div>
                <div class="help-image">
                    <img class="help-image-image" src='images/login_page.png' alt="image">
                </div>
            </div>
            <div class="question">
                <div class="help-text">
                    <div class="help-text-title">Sign-up Page</div><br>
                    <div class="help-text-text">
                        &emsp;On the sign-up page, you create an account. To do this, you need to fill out the form with
                        your personal details as requested. After completing them, ensure that all information is
                        correct and that you have filled in all required fields.<br>
                        &emsp;If you remember that you already have an account, you can quickly return from the sign-up
                        page
                        to the login page by clicking on the text 'Click here' below the Sign-up button.
                    </div>
                </div>
                <div class="help-image">
                    <img class="help-image-image" src='images/sign_up_page.png' alt="image">
                </div>
            </div>
        </div>
        <div class="profile_menu" id="closable">
            <div class="profile_menu--options no-link-style" id="account">Account</div>
            <div class="profile_menu--options no-link-style" id="logout">Log Out</div>
        </div>
    </main>
    <footer id="myFooter">
        <a href="/">
            <img class="footer__logo" src="images/Logo.png" alt="Logo">
        </a>
        <div class="footer__content">
            <div>Contact Us</div>
            <a class="no-link-style" href="mailto:feralpresenceadvise@gmail.com">
                feralpresenceadvise@gmail.com
            </a>
            <a class="no-link-style" href="tel:+40747816344">
                Tel: +40 747 816 344
            </a>
        </div>
        <div class="footer__content">
            <a class="no-link-style" href="about.html">About</a>
            <a class="no-link-style" href="report.html">Report</a>
            <a class="no-link-style" href="see_reports.html">See reports</a>
            <a class="no-link-style" href="statistics.html">Statistics</a>
            <a class="no-link-style" href="contact.html">Contact</a>
            <a class="no-link-style" href="help.html">Help</a>
        </div>
        <div id="footer_item">© Copyright 2024, FePA</div>
    </footer>
    <script src="scripts/connected_user.js"></script>
    <script src="scripts/menu_button.js"></script>
</body>

</html>