<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="styles/generic.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/report.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>

<body>
    <div class="wrapper">
        <header id="to_show">
            <a href="/">
                <img class="logo" src="images/Logo.png" alt="Logo">
            </a>
            <div class="menu">
                <a class="no-link-style" id="admin" href="admin.html">
                    <div class="menu__admin">Admin</div>
                </a>
                <a class="no-link-style" href="about.html">
                    <div class="menu__about">About</div>
                </a>
                <a class="no-link-style" href="report.html">
                    <div class="menu__report">Report</div>
                </a>
                <a class="no-link-style" href="see_reports.html">
                    <div class="menu__see_reports">See Reports</div>
                </a>
                <a class="no-link-style" href="statistics.html">
                    <div class="menu__statistics">Statistics</div>
                </a>
                <a class="no-link-style" href="contact.html">
                    <div class="menu__contact">Contact</div>
                </a>
                <a class="no-link-style" href="help.html">
                    <div class="menu__help">Help</div>
                </a>
                <a class="no-link-style" href="../../public/rss.xml">
                    <img class="feed" src="images/RSS_Icon.svg" alt="Feed">
                </a>
                <div class="menu__log_in--button half_button" id="profile">
                    <a class="left_half no-link-style" href="log_in.html">Log In</a>/
                    <a class="right_half no-link-style" href="sign_up.html">Sign Up</a>
                </div>
            </div>
            <div class="no-link-style menu_toggle" id="menu_visible">
                <div id="menu_toggle__line1"></div>
                <div id="menu_toggle__line2"></div>
                <div id="menu_toggle__line3"></div>
            </div>
        </header>
        <div class="menu__to_show" id="menu__to_show">
            <div class="menu__log_in--button half_button" id="profile_for_menu">
                <a class="left_half no-link-style" href="log_in.html">Log In</a>/
                <a class="right_half no-link-style" href="sign_up.html">Sign Up</a>
            </div>
            <a class="no-link-style" href="../../public/rss.xml">
                <img class="feed" src="images/RSS_Icon.svg" alt="Feed">
            </a>
            <a class="no-link-style" id="admin1" href="admin.html">
                <div class="menu__admin">Admin</div>
            </a>
            <a class="no-link-style" href="about.html">
                <div class="menu__about">About</div>
            </a>
            <a class="no-link-style" href="report.html">
                <div class="menu__report">Report</div>
            </a>
            <a class="no-link-style" href="see_reports.html">
                <div class="menu__see_reports">See Reports</div>
            </a>
            <a class="no-link-style" href="statistics.html">
                <div class="menu__statistics">Statistics</div>
            </a>
            <a class="no-link-style" href="contact.html">
                <div class="menu__contact">Contact</div>
            </a>
            <a class="no-link-style" href="help.html">
                <div class="menu__help">Help</div>
            </a>
        </div>
        <div class="menu__to_show" id="profile_menu_to_show">
            <div class="menu__log_in--button half_button" id="profile_for_menu_to_show">
                <a class="left_half no-link-style" href="log_in.html">Log In</a>/
                <a class="right_half no-link-style" href="sign_up.html">Sign Up</a>
            </div>
            <a class="no-link-style">
                <div class="menu__admin" id="account_menu">Account</div>
            </a>
            <a class="no-link-style" id="logout_menu">
                <div class="menu__report">Log Out</div>
            </a>
        </div>
    </div>
    <main>
        <div class="block">
            <div class="block__report_form">
                <form id="submit_form" enctype="multipart/form-data">
                    <h1 class="block__report_form_title">Report</h1>
                    <label for="animal_type"><b>Animal type</b></label>
                    <input type="text" id="animal_type" name="animal_type" placeholder="Enter the animal type(ex: Cat/Dog/Horse/...)" required>
                    <label for="city"><b>City</b></label>
                    <input type="text" id="city" name="city" placeholder="Enter the city(ex: Iasi/Bucharest/Timisoara/...)" required>
                    <label for="street"><b>Street</b></label>
                    <input type="text" id="street" name="street" placeholder="Enter the street name" required>
                    <label for="additional_aspects"><b>Additional aspects</b></label>
                    <input type="text" id="additional_aspects" name="additional_aspects" placeholder="Enter the additional aspects(ex: Big, Dangerous/Harmless, Angry/Little)">
                    <label for="description"><b>Description</b></label>
                    <input type="text" id="description" name="description" placeholder="Enter the description" required>
                    <div class="form">
                        <label for="Photos"><b>Upload photos</b></label>
                        <label for="Photos" class="photos-input">
                            Here
                        </label>
                    </div>
                    <input id="Photos" type="file" name="Photos" accept=".jpg,.png,.jpeg" multiple>
                    <input class="no-link-style" type="submit" id="submit_button" value="Submit">
                    <div id="mask">&nbsp;</div>
                    <div id="notLogged">You are not logged in!</div>
                    <div id="isAdmin">You cannot post a report!</div>
                </form>
            </div>
            <div class="block__report_map" id="map">
                <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
                <script>
                    const map = L.map('map').setView([45.9432, 24.9668], 6);
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    }).addTo(map);
                </script>
            </div>
        </div>
        <div class="profile_menu" id="closable">
            <div class="profile_menu--options no-link-style" id="account">Account</div>
            <div class="profile_menu--options no-link-style" id="logout">Log Out</div>
        </div>
    </main>
    <footer id="myFooter">
        <a href="/">
            <img class="footer__logo" src="images/Logo.png" alt="Logo">
        </a>
        <div class="footer__content">
            <div>Contact Us</div>
            <a class="no-link-style" href="mailto:feralpresenceadvise@gmail.com">
                feralpresenceadvise@gmail.com
            </a>
            <a class="no-link-style" href="tel:+40747816344">
                Tel: +40 747 816 344
            </a>
        </div>
        <div class="footer__content">
            <a class="no-link-style" href="about.html">About</a>
            <a class="no-link-style" href="report.html">Report</a>
            <a class="no-link-style" href="see_reports.html">See reports</a>
            <a class="no-link-style" href="statistics.html">Statistics</a>
            <a class="no-link-style" href="contact.html">Contact</a>
            <a class="no-link-style" href="help.html">Help</a>
        </div>
        <div id="footer_item">© Copyright 2024, FePA</div>
    </footer>
    <script src="scripts/create_report.js"></script>
    <script src="scripts/connected_user.js"></script>
    <script src="scripts/menu_button.js"></script>
</body>

</html>