*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

body {
  font-family: Trebuchet MS, sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-align: center;
  color: #1b1b1b;
  align-items: center;
  position: relative;
  min-height: 100vh;
  background-image: url("../images/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

main {
  align-items: center;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.no-link-style {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.no-link-style:hover {
  color: #9f917e;
}

#admin {
  display: none;
}

#admin1 {
  display: none;
}
