.wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
}

header {
  width: 97.5vw;
  height: 50px;
  border-radius: 30px;
  position: fixed;
  top: 30px;
  background-color: rgba(119, 136, 153, 0.7);
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}

.logo {
  width: 60px;
  height: 40px;
  margin: 1vh;
}

.feed {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 1025px) {

  .menu {
    position: relative;
    right: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
  }

  .menu_toggle {
    width: 30px;
    height: 30px;
  }

  #menu_visible{
    display: none;
  }

}

@media screen and (max-width: 1024px) {

  .menu {
    position: relative;
    right: 20px;
    font-size: 20px;
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
  }

  .menu_toggle {
    width: 30px;
    height: 25px;
    position: relative;
    right: 20px;
  }

  #menu_visible{
    display: flex;
  }

}

#menu_toggle__line1{
  position: absolute;
  top: 0;
  width: 30px;
  height: 3px;
  background-color: #1b1b1b;
}


#menu_toggle__line2{
  position: absolute;
  top: 11px;
  width: 30px;
  height: 3px;
  background-color: #1b1b1b;
}

#menu_toggle__line3{
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 3px;
  background-color: #1b1b1b;
}

.menu__to_show{
  width: 97.5vw;
  min-height: 5vh;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: fixed;
  top: 80px;
  font-size: 20px;
  background-color: rgba(119, 136, 153, 0.7);
  display: none;
  flex-direction: column;
  gap: 10px;
  z-index: 9998;
}

#to_show{
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.menu__log_in--button {
  font-size: 20px;
  width: auto;
  height: 30px;
  border-radius: 20px;
  border-style: solid;
  border-color: #fde8cd;
  position: relative;
  background-color: #fde8cd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__log_in--button:hover {
  background-color: lightslategray;
  color: #fde8cd;
}

.menu__about {
}

.menu__report {
}

.menu__see_reports {
}

.menu__statistics {
}

.menu__contact {
}

.menu__help {
}

.half_button {
  cursor: pointer;
}

.left_half,
.right_half {
  text-align: center;
  transition: background-color 0.3s ease;
}

.left_half {
  left: 0;
}

.right_half {
  right: 0;
}

.left_half:hover {
  color: #9f917e;
}

.right_half:hover {
  color: #9f917e;
}

.profile_menu {
  width: 160px;
  height: 15vh;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: fixed;
  top: 13vh;
  right: 0;
  background-color: rgba(253, 232, 205, 0.7);
  color: lightslategray;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25vh;
  font-size: 22px;
  z-index: 999;
}

.profile_menu--options {
  height: 3vh;
  width: 100px;
  border-radius: 20px;
  border-style: solid;
  border-color: lightslategray;
  position: relative;
  background-color: lightslategray;
  color: #fde8cd;
}

.profile_menu--options:hover {
  background-color: #fde8cd;
  border-color: lightslategray;
}
