.block {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  margin: 20vh 10vw;
  border-radius: 20px;
  background-color: rgba(253, 232, 205, 0.7);
  color: lightslategray;
}

.block__title {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#news-logo {
  width: 80px;
  height: 50px;
  margin-top: 2.5vh;
  position: relative;
  z-index: 2;
}

#news::-webkit-scrollbar {
  height: 0.7vh;
  background-color: transparent;
  border-radius: 20px;
}

#news::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#news-item::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.5vw;
  background-color: transparent;
  border-radius: 20px;
}

#news-item::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#news-item:hover {
  color: #7c7059;
  cursor: pointer;
}

@media screen and (min-width: 1025px) {
  #news-item {
    width: 25vw;
    height: 70vh;
    border-radius: 20px;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    vertical-align: top;
    white-space: normal;
    background-color: rgba(119, 136, 153, 0.7);
    color: #1b1b1b;
    overflow-y: auto;
    box-shadow: 0 20px 23px 5px rgba(27, 27, 27, 0.4);
  }

  #news {
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 20px;
  }

  #news-image {
    height: 30vh;
    width: 22.5vw;
    border-radius: 20px;
    margin-top: -3vh;
    margin-bottom: 5vh;
    position: relative;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #news-item {
    width: 25vw;
    height: 45vh;
    border-radius: 20px;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    vertical-align: top;
    white-space: normal;
    background-color: rgba(119, 136, 153, 0.7);
    color: #1b1b1b;
    overflow-y: auto;
    box-shadow: 0 20px 23px 5px rgba(27, 27, 27, 0.4);
  }

  #news {
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 20px;
  }

  #news-image {
    height: 30vh;
    width: 22.5vw;
    border-radius: 20px;
    margin-top: -3vh;
    margin-bottom: 5vh;
    position: relative;
    z-index: 1;
  }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
  #news-item {
    width: 60vw;
    height: 60vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 10px 10px;
    vertical-align: top;
    white-space: normal;
    background-color: rgba(119, 136, 153, 0.7);
    color: #1b1b1b;
    overflow-y: auto;
    box-shadow: 0 20px 23px 5px rgba(27, 27, 27, 0.4);
  }

  #news {
    display: grid;
    justify-content: center;
  }

  #news-image {
    height: 200px;
    width: 300px;
    border-radius: 20px;
    margin-top: -3vh;
    margin-bottom: 5vh;
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 500px) {
  #news-item {
    width: 60vw;
    height: 30vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 10px 10px;
    vertical-align: top;
    white-space: normal;
    background-color: rgba(119, 136, 153, 0.7);
    color: #1b1b1b;
    overflow-y: auto;
    box-shadow: 0 20px 23px 5px rgba(27, 27, 27, 0.4);
  }

  #news {
    display: grid;
    justify-content: center;
  }

  #news-image {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    margin-top: -3vh;
    margin-bottom: 5vh;
    position: relative;
    z-index: 1;
  }
}

#news-description {
  font-size: 20px;
}
