.block {
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  margin: 20vh 10vw;
  border-radius: 20px;
  background-color: rgba(253, 232, 205, 0.7);
  color: lightslategray;
}

.block__title {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
}

@media screen and (min-width: 1025px) {
  .statistics {
    color: #788899;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .box {
    position: relative;
    width: 36vw;
    height: 54vh;
    background-color: rgba(119, 136, 153, 0.7);
    color: #1b1b1b;
    border-radius: 20px;
    box-shadow: 0 20px 23px 5px rgba(27, 27, 27, 0.4);
    margin-bottom: 20px;
    overflow-y: auto;
  }

  #piechart_type,
  #piechart_area {
    display: flex;
    justify-content: center;
    width: 24vw;
    height: 36vh;
  }
}

@media screen and (max-width: 1024px) {
  .statistics {
    color: lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px;
  }

  .box {
    position: relative;
    width: 50vw;
    height: 54vh;
    background-color: rgba(119, 136, 153, 0.7);
    color: #1b1b1b;
    border-radius: 20px;
    box-shadow: 0 20px 23px 5px rgba(27, 27, 27, 0.4);
    margin-bottom: 20px;
    overflow-y: auto;
  }

  #piechart_type,
  #piechart_area {
    display: flex;
    justify-content: center;
    width: 24vw;
    height: 36vh;
  }
}

.content1,
.content2 {
  display: flex;
  justify-content: center;
}

#buttonPDF1,
#buttonCSV1,
#buttonHTML1,
#buttonPDF2,
#buttonCSV2,
#buttonHTML2{
  display: inline-block;
  padding: 12px 12px;
  border: 1px solid #ccc;
  background-color: lightslategray;
  color: #fde8cd;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
}

#buttonPDF1:hover,
#buttonCSV1:hover,
#buttonHTML1:hover,
#buttonPDF2:hover,
#buttonCSV2:hover,
#buttonHTML2:hover{
  background-color: #4f5d71;
}





.content1 .loader {
  color: #1b1b1b;
  font-size: 15px;
  padding: 8px 12px;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 10px;
  animation: play 2s;
}

.content2 .loader {
  color: #1b1b1b;
  font-size: 15px;
  padding: 8px 12px;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 10px;
  animation: play 2s;
}
.export {
  margin-top: 16px;
}

@keyframes play {
  0% {
    width: 0;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    transition: 2s ease-in;
    opacity: 1;
  }
}

.loader span {
  color: #1b1b1b;
  display: block;
  float: right;
  font-weight: bold;
}
